<div class="row mx-0 mt-3" >
  <div class="col-md-2">
    <h6 class="support">AW Support</h6>
  </div>
  <div class="col-md-4">
    <ul class="list1 d-lg-flex d-block pl-0">
      <li>Contact US</li>
      <li>Help</li>
      <li>Company</li>
      <li>Aon.com</li>
      <li>WrapUp Partners</li>
    </ul>
  </div>
  <div class="col-md-4 mx-auto">
    <ul class="list2 d-lg-flex d-block pl-0">
      <li>Terms and Policies</li>
      <li class="border-left">Privacy</li>
      <li class="border-left">Legal</li>
      <li class="border-left">© 2020 Abc Inc. All Rights Reserved.</li>
    </ul>
  </div>
  <div class="col-md-2 mx-auto">
    <ul class="list3 d-flex pl-0 float-lg-right float-left">
      <li><img [src]="'../assets/images/Linkedin.png'"> </li>
      <li><img [src]="'../assets/images/Facebook.png'"> </li>
      <li><img [src]="'../assets/images/Twitter.png'"> </li>
    </ul>
  </div>
</div>
